#update-text{
    font-family: 'Press Start 2P' , cursive;
    font-size: 4vw;
    margin-bottom: 7vw;
    
    color: rgb(245, 245, 127);
}
body{
    text-align: center;
    color: rgb(245, 245, 127);
    background-color: rgb(26, 51, 126);
}
.container{
    display: block;
    margin: auto;
    width:50%;


}
.container-mobile{
    display: block;
    margin: auto;
    width:100vw;


}
.btn{
    margin: 25px;
    display: inline-block;
    height: 10vw;
    width:  10vw;
    border: 1.2vw solid black;
    border-radius: 20%;
}
.btn-mobile{
    margin: 25px;
    display: inline-block;
    height: 20vw;
    width:  20vw;
    border: 1.2vw solid black;
    border-radius: 20%;
}
footer{
    font-family: 'Press Start 2P';
    font-size: 1.3vw;
    margin-top:3vw;

}
.footer-mobile{
    font-family: 'Press Start 2P';
    font-size: 3vw;
    margin-top:5vw ;

}

.red{
    background-color: red;
}
.blue{
    background-color:blue;
}
.green{

    background-color:green;
}
.yellow{
    background-color: yellow;
}

.pressed{
    box-shadow: 0 0 1.3vw white;
  background-color: grey;
}
.game-over{

    background-color: rgb(129, 22, 22);
    opacity: 0.8;
}